.welcome {
    background-image:url("../images/h_img.jpg");
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    
}
.welcome img:last-child{
    padding-top: 200px;
}
.about{
    text-align: center;
}
.service{
    background-image: url("../images/s_image.jpg");
    height: 350px;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    
}
.contact{
    background-image: url("../images/c_image.jpg");
    height: 550px;
    text-align: center;
    color: white;


    font-size: 14px;

}
.delani{
    text-align: center;
}
.handles{
    display: flex;
    justify-content:center;
    
}
.do{
    text-align: center;
}
.port{
    box-sizing: border-box;
    border-style:none;
}
.w-100{
        padding-bottom:50px;
    
}
input[type=text]{
        border:2px solid white;
        background: transparent;
        color: white;
        
}
input[type=email]{
        border:2px solid white;
        background:transparent; 
}
form{
    align-items: center;
    margin-left: 300px;
    width:60%;
    padding-left:10px; 
}
input[type=text]::placeholder{
    color: white;
}
input[type=email]::placeholder{
    color: white;
}
textarea[name=Message]::placeholder{
    color:white;
}
textarea[name=Message]{
    border:2px solid white;
    background:transparent; 
}
#message{
    width:600px;
    height: 200px;
}
#image1 {
    float: left;
    position: relative;
    margin: 5px;
    color: #333;
}
#image1.image-cap {
    display: none;
    opacity: 0.8;
    background:#cae5c1;
    width: 195px;
    position: absolute;
    bottom: 0px;
    padding: 5px;
    height: 100%;
}
